{% extends "template.html" %}


{% block container %}

<div class="container">

    <h1>mindsnacks challenge #1</h1>
    <p>This is the simple slider game, get all the pieces in order and the blank <br>
    space in the lower right corner.  The board with turn yellow to let you know <br>
    when it is completed.  Try it in the lowest amount of moves.</p>
    <hr>

    <div class="row">
        <div class="span5">
            {{ table }}
        </div>

        <div class="span3 offset1">
            <h3>Leaderboard</h3>
            <ol id="leaderboad">
                {% for l in leaders %}
                    <li>{{ l.username }} solved it with {{ l.score }} moves.</li>
                {% endfor %}
            </ol>
            <hr>
            <h1 id='score'>You've used 0 moves</h1>
            <div id='score_form' class='hidden'>
                <h2>Yay!  you solved it!!!</h2>
                <p>You can save your place on the leader board, just type in your name and hit 'save'</p>
                <input type='text' name='username' id='username' placeholder='Username'><br>
                <input type='hidden' name='game_id' id='game_id' value='{{ game_id }}'>
                <input type='button' id='score_button' value='Save score'><br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span1 offset1">
            <table id='controls' class='hidden-desktop'>
                <tr>
                    <td></td>
                    <td><button id='push_up'>up</button></td>
                    <td></td>
                </tr>
                <tr>
                    <td><button id='push_left'>left</button></td>
                    <td></td>
                    <td><button id='push_right'>right</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button id='push_down'>down</button></td>
                    <td></td>
                </tr>
            </table>        
        </div>
    </div><!-- row -->


</div>

{% endblock %}



{% block footer %}
{% endblock %}
